/* CSS files add styling rules to your content */

html,
body {
  height: 100%;
}

body {
  font-family: monospace;
  margin: 2em;
  height: 90%;
}

h1 {
  font-style: italic;
  color: #373fff;
  font-size: 3em;
}

p {
  margin-right: 50px;
}

input {
  background-color: cyan;
  font-family: monospace;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 16px;
  overflow: auto;
}

/*Getting the links to look cool, but also still like links.*/
a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid yellow;
  box-shadow: 0px -4px 0px yellow inset;
}

a:hover{
  background-color: yellow;
}

button {
  font-size: 16px;
  border-radius: 3px;
  font-family: monospace;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  margin: 5px 0;
  width: 100%
}

footer {
  margin-top: 25px;
  margin-right: 50px;
  padding-top: 25px;
  border-top: 1px solid #d3d3d3
}


select {
  margin: 5px 0;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#json-output {
  background: black;
  color: white;
  padding: 1em;
}

#state-mode {
  background-color: rgba(132,136,255, 0.5);
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 16px;
  overflow: auto;
}

#select-mode{
  background-color: rgba(211,211,211, 0.4);
}

#select-mode:hover{
  background-color: yellow;
}

/*Making the mystery data button bigger so it is obvious how to start playing*/
#select-field{
  font-size: 35px
}

/*We also want the output here to be super readable*/
#json-output{
  font-size: 1.3em;
}


/*Adding a 10px margin to both the left and right, so there is space between them on narrow screens.*/
.left {
  flex: 3 0 0;
  margin-right: 2em; 
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.right {
  flex: 1 0 0;
  margin-top: 10px;

}

@media (min-width: 768px) {
  .row {
    display: flex;
    width: 75%;
    height: 75%;
  }
}
