/* CSS files add styling rules to your content */

html,
body {
  height: 100%;
}

body {
  font-family: monospace;
  margin: 2em;
  height: 90%;
}

h1 {
  font-style: italic;
  color: #373fff;
  font-size: 3em;
}

p {
  max-width: 600px;
}

input {
  background-color: cyan;
  font-family: monospace;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 16px;
  overflow: auto;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid yellow;
  box-shadow: 0px -4px 0px yellow inset;
}

a:hover{
  background-color: yellow;
}

button {
  font-size: 16px;
  border-radius: 3px;
  font-family: monospace;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  margin: 5px 0;
  width: 100%
}


select {
  margin: 5px 0;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

#json-output {
  background: black;
  color: white;
  padding: 1em;
}

#state-mode {
  background-color: rgba(132,136,255, 0.5);
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 16px;
  overflow: auto;
}

#select-mode{
  background-color: rgba(211,211,211, 0.4);
}

#select-mode:hover{
  background-color: yellow;
}

#select-field{
  background-color: #545454;
  color: white;
  font-size: 35px
}

#select-field:hover{
  background-color: yellow;
  color: black;
}

#json-output{
  font-size: 1.3em;
}


.left {
  flex: 3 0 0;
  margin-right: 2em;
  overflow-y: scroll;
}

.right {
  flex: 1 0 0;
}

@media (min-width: 768px) {
  .row {
    display: flex;
    width: 75%;
    height: 75%;
  }
}
